* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$white-text-color: #ffffff;
$yellow-text-color: #bdae82;
$black-text-color: #000000;
$inter-font: "Inter", sans-serif;
$merriweather-font: "Merriweather", sans-serif;

%link-text-style {
  font-family: $inter-font;
  color: $white-text-color;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

%en-ru-text-style {
  font-family: $inter-font;
  color: $white-text-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}

%main-h1-style {
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: $white-text-color;
}

%main-h1-style-tablet {
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  color: $white-text-color;
}

%main-p-style {
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: $white-text-color;
}

%main-p-style-tablet {
  /* FOR TABLET FOR TABLET FOR TABLET FOR TABLET FOR TABLET */
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $white-text-color;
}

%main-button-text {
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: $black-text-color;
}

%button-style {
  background-color: $yellow-text-color;
  border-radius: 0px;
  padding: 8px 73px;
  border: 1px solid $yellow-text-color;
}

%skills-text-style {
  // Skills - Portfolio - Video - Price
  color: $yellow-text-color;
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
}

%skills-text-style-tablet {
  // Skills - Portfolio - Video - Price - - - FOR TABLET
  color: $yellow-text-color;
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

%skills-h3 {
  font-family: $inter-font;
  color: $white-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

%skills-p {
  font-family: $inter-font;
  color: $white-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

%skills-p-tablet {
  // FOR TABLET - - -  FOR TABLET - - -  FOR TABLET - - -
  font-family: $inter-font;
  color: $white-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

%portfolio-text-style {
  font-family: $inter-font;
  color: $yellow-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

%portfolio-button-style {
  border: 1px solid $yellow-text-color;
  background-color: $black-text-color;
  border-radius: 0px;
  padding: 8px 79px;
}

%price-h2-style {
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: $white-text-color;
}

%price-dollar-style {
  font-family: $merriweather-font;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: $yellow-text-color;
}

%price-p-style {
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: $white-text-color;
}

%price-btn-text-style {
  font-family: $inter-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: $black-text-color;
  padding: 7px 38px;
}

%price-btn-style {
  border: 1px solid $yellow-text-color;
  background-color: $yellow-text-color;
  border-radius: 0px;
}
